<?php
require_once __DIR__ . '/../vendor/autoload.php';

$client = new Google_Client();
$client->setClientId('YOUR_CLIENT_ID');
$client->setClientSecret('YOUR_CLIENT_SECRET');
$client->setRedirectUri('http://localhost/Blog_App/google-callback.php');
$client->addScope('email');
$client->addScope('profile');

// Tạo URL xác thực
$auth_url = $client->createAuthUrl();
?> 